version: "3.9"

services:

  db:
    image: postgres:15
    container_name: smartnotes_db
    environment:
      POSTGRES_USER: chanchal
      POSTGRES_PASSWORD: ramu123
      POSTGRES_DB: smartnotes
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U chanchal"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: always

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: smartnotes_backend
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://chanchal:ramu123@db:5432/smartnotes
      SECRET_KEY: mysecretjwtkey
    depends_on:
      db:
        condition: service_healthy
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: smartnotes_frontend
    ports:
      - "8080:80"
    restart: always

volumes:
  postgres_data:
